<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
<header th:replace="plantilla/template :: header"></header>

<div class="container">

    <div class="container theme-showcase" role="main">
        <hr class="featurette-divider">
        <img th:src="@{/images/registrarse.png}" width="136" height="136" class="center">


        <form th:action="@{validarcambiarpassword}" method="post"
              onsubmit="return validaPassword()">

                <div class="form-row">


                    <div class="form-group col-md-4">
                        <label for="password">Password</label>
                        <input type="password" th:name="password" class="form-control" id="password"
                               placeholder="Ingresar...">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="password2">Repite Password</label>
                        <input type="password" class="form-control" id="password2" placeholder="Ingresar...">
                    </div>

                </div>


            <button class="btn btn-primary" type="submit">Guardar</button>
        </form>


    </div>


</div>

<footer th:replace="plantilla/template :: footer"></footer>

<script>

    //valida password que no se repitan.
    function validaPassword() {
        var p1 = document.getElementById("password").value;
        var p2 = document.getElementById("password2").value;
        if (p1 != p2) {
            alert("Los password deben de coincidir");
            return false;
        }
    }
</script>

</body>
</html>